$page-background-color:#FCFCFC;
$base-color:#DFEBF7;
$secondary-color:#467FC1;
$link_color:#34424F;
$table_title_color:#50596C;
$table_header_color:#D8E7FA;
$table_header_text_color:#9BA0AA;
$table_text_color:#9298A3;
// fonts

$link_font:'Poppins', sans-serif;
$roboto_font:'Roboto', sans-serif;

