$page-background-color:#FCFCFC;
$base-color:#DFEBF7;
$secondary-color:#467FC1;
$link_color:#34424F;
$table_title_color:#50596C;

// fonts

$link_font:'Poppins', sans-serif;
$roboto_font:'Roboto', sans-serif;

