body {
  box-sizing: border-box !important;
  height: 100vh !important;
 /* / width: 100vw !important; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
input,textarea{
   background-color: #F5F7F9 !important;
   font-size: 12px !important; 
}

input:focus,textarea:focus{
  background-color: #FFF !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error_message{
  color:#de5a7b;
  /* float: left; */
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  /* line-height: 20px; */
  /* margin: 0 20px 10px; */
  /* width: 200px; */
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: orange; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid orange; /* creates padding around scroll thumb */
}


table::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

table::-webkit-scrollbar-track {
  background-color: rgba(167, 163, 163, 0.1); /* color of the tracking area */
}

table::-webkit-scrollbar-thumb {
  background-color: #d1e4fa; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 2px solid #aec6f8; /* creates padding around scroll thumb */
}